# SARP-East Coding Lesson 3.1 -Tabular Data
03 July 2024
<br>Riley McCue

## üöÉüë£ *The journey is long, but the goal is in each step.* üë£üöÉ
<br>- Sri Sri Ravi Shankar

:::{admonition} Recap
:class: tip
**Level 1**
<br>1)Write a skeleton structure of a list and a dictionary.
<Br>2)At what value does indexing start in Python?
<br>**Level 2**
<br>3)Change the invalid data points to 0 in the following list.
```
l_greeness = [6.1, 4.5, 9999, 5.3, 9999]
```
4)Add today's temperature and conditions to the following dictionary. (Today is Wednesday.)
```
d_weather = {
    'Friday': ['hot', 88],
    'Saturday': ['humid', 92],
    'Sunday': ['rain', 84]}
```
:::{admonition} Answer
:class: dropdown
1. `list = [obj1, obj2, obj3,...]`
```
dictionary ={
    key1:value1,
    key2:value2,
    key3:value3,
    ...}
```
2. 0
3. `l_greeness[2] = 0` OR `l_greeness[len(l_greeness)-3] = 0`
<br>`l_greeness[4] = 0` OR `l_greeness[len(l_greeness)-1] = 0`
4. `d_weather['Wednesday'] = ['humid', 87]`

In [1]:
#1

In [2]:
#2

In [3]:
#3

In [4]:
#4

## ‚õ©Ô∏è*Context - More Data Structures!*
### üìö Libraries
There is a set of **libraries** that come inherent to Python, and many others that you can `import`. You can even create your own library! Libraries typically contain functions that are useful to us. You only need to import a library once per file.
<br><br>Think of libraries as you would an "extras" package in a boardgame like Settlers of Catan. You can play the game without the "extras", but you can only do certain moves in the game with it!

:::{admonition} Coding Vocabulary
:class: warning
**Library** - a collection of precompiled code; contain objects and functions that are useful for specific tasks
<br>*You download libraries through the `import` command.*
<br> *You can shorten their name for ease of use through: `import` 'name of library' `as` 'nickname'*

Let's look at a common library - `math`

In [5]:
#Let's import the math library into our notebook
import math

How do I use a libary? How do I know what functions a libary holds?
<br><br>
Let's use the `help()` function.

In [6]:
#help(math)

The `help()` function give you basic information about the library, most importantly, the functions is holds. 
<br> -->You can use this `help()` command for more than libaries. Try it out for a few of the other data types or structures we've learnt about! A lot of the output may not make total sense right now, but that's okay -- reading it can help build your understanding of how the computer thinks.

:::{admonition} Patterns
:class: note
Knowing the formal names of things helps in many ways. Here, it helps us know what arguement to give the `help()` function.

In [7]:
#Let's use the pow() function from math
pow(2,3)

8

The `math` library has many useful functions, but it is not the main focus of today's lesson. If you would like to learn more about the math library, check out [this link](https://docs.python.org/3/library/math.html0).

## üêºüêºüêºüêºPandasüêºüêºüêºüêº
`pandas` is a **Dataframe** that models **tabular data**.
:::{admonition} Coding Vocabulary
:class: warning
**Dataframe** - a 2-dimensional labeled data structure
:::
:::{admonition} Coding Vocabulary
:class: warning
**Tabular Data** - data labeled in rows(horizontal) and columns(vertical); a form of 2-dimensional data

:::
You have likely worked with most tabular data in Microsoft Excel or Google Sheets before. It commonly comes in a CSV (comma-separated values) file format. It is common for tabular data to be indexed, which uniquely labels the rows. The `pandas` dataframe in Python will give you much more capability for analysis once you have a grasps of the associated concept and syntax.

<img src="https://www.statology.org/wp-content/uploads/2022/03/tabular2.jpg" width = 620>

Image from [statology](https://www.statology.org/tabular-data/).

In [8]:
#Let's jump-in and import this dataframe!
import pandas as pd
#Now, rather than calling to the pandas library, we can call to pd. This is a common shorthand for the pandas dataframe.
#pd is basically a nickname we gave pandas here

### üêº`pandas` Data Structures
There are 2 primary `pandas` data structures:
1. `pd.Series`
2. `pd.DataFrame`

The primary structure of these two is a `DataFrame` and a `Series` is a simpler version of a `DataFrame`. It is important to know both for when you run into errors.

### üñºÔ∏è **`pd.DataFrame`** üñºÔ∏è
In `pandas`, a `dataframe` is a data structure organized into rows and columns. The columns are named and the rows are indexed (beginning at 0).
<br><br> The general *syntax* for creating a dataframe is:
```
dataframe_name = pd.DataFrame(data)
```
<br><br>Let's make a dataframe from something we know -- a dictionary!

In [9]:
#Let's create some data - a dictionary.
d_city_temps = {
    'New York': [90, 94, 88, 89, 96, 95],
    'Los Angeles': [98, 99, 96, 92, 90, 97],
    'Chicago': [85, 88, 89, 78, 90, 91]}

In [34]:
#Now, let's use our pandas library to convert our dictionary into a dataframe!
df_city_temps = pd.DataFrame(d_city_temps)
df_city_temps

   New York  Los Angeles  Chicago
0        90           98       85
1        94           99       88
2        88           96       89
3        89           92       78
4        96           90       90
5        95           97       91

We just created our first dataframe! WOOHOO, happy dance!üï∫üèªüëØ
<br><br> We can see the <span style='color: red;'>columns</span> are <span style='color: red;'>labeled</span> by the city names, or what were the <span style='color: red;'>keys</span> of the dictionary. The <span style='color: green;'>rows</span> are <span style='color: green;'>indexed</span>, beginning at <span style='color: green;'>0</span>.
<br><br> If you want to index your own rows, the *syntax* is:
```
dataframe_name = pd.DataFrame(data, index = index_list_name)
```

In [35]:
#Let's revisit the same dictionary as before.
d_city_temps = {
    'New York': [90, 94, 88, 89, 96, 95],
    'Los Angeles': [98, 99, 96, 92, 90, 97],
    'Chicago': [85, 88, 89, 78, 90, 91]}

In [36]:
#Let's index our own rows. First, we must create a list.
d_index = ['Jun1','Jun2','Jun3']
df_city_temps = pd.DataFrame(d_city_temps,index = d_index)
df_city_temps

ValueError: Length of values (6) does not match length of index (3)

:::{admonition} **ValueError**
:class: danger
**ValueError** - occurs when the value condition of two things necessary for an operation to occur are not met.
<br>*Tip* - check the length of your objects.

In [37]:
#Let's fix it.
d_index = ['Jun1','Jun2','Jun3','Jun4','Jun5','Jun6']
df_city_temps = pd.DataFrame(d_city_temps,index = d_index)
df_city_temps

      New York  Los Angeles  Chicago
Jun1        90           98       85
Jun2        94           99       88
Jun3        88           96       89
Jun4        89           92       78
Jun5        96           90       90
Jun6        95           97       91

### ü•≠üçéüçå **`pd.Series`** ü•≠üçéüçå
Let's look at a visual example of how a Series and DataFrame in `pandas` are related.

<img src="https://www.datasciencemadesimple.com/wp-content/uploads/2020/05/create-series-in-python-pandas-0.png" width=620>

_Image from 
[Data Science Made Simple](https://www.datasciencemadesimple.com/create-series-in-python-pandas/)._

:::{admonition} Coding Vocabulary
:class: tip
**Series** - a column of a `DataFrame`.
<br> *Syntax* - `series#_name = dataframe_name['column#']`

In [14]:
#Let's do an example.

#Let's view our dataframe from above.
df_city_temps

      New York  Los Angeles  Chicago
Jun1        90           98       85
Jun2        94           99       88
Jun3        88           96       89
Jun4        89           92       78
Jun5        96           90       90
Jun6        95           97       91

In [15]:
#Let's print the series for Chicago.
df_city_temps['Chicago']

Jun1    85
Jun2    88
Jun3    89
Jun4    78
Jun5    90
Jun6    91
Name: Chicago, dtype: int64

In [45]:
#You can also use the Series method to create a Series.
#Consider the list.
l_cities = ['Newport News', 'Hampton', 'Richmond','Arlington']

#Let's structure this data into a Series now.
ser_cities = pd.Series(l_cities)
ser_cities

0    Newport News
1         Hampton
2        Richmond
3       Arlington
dtype: object

In [43]:
#Let's index it now!
l_index_cities = [5, 6, 7, 8]
ser_cities = pd.Series(l_cities, index = l_index_cities)
ser_cities

5    Newport News
6         Hampton
7        Richmond
8       Arlington
dtype: object

## *Indexing and Accessing Values in DataFrame*

Although `pandas dataframe` is a new data structure, the rules of indexing and accessing are very similar to what we have already seen.

### üîéViewing a Column
This is identical to how we viewed a Series of a DataFrame above.
```
dataframe_name[column_name]
```

### üîéViewing a Row
To view a row in a `DataFrame`, we must use the `.iloc()` method. `iloc` is short for integer location, which makes sense if you think about the concept of indexing. The syntax to apply `.iloc()` is the same as it was for other methods.
```
dataframe_name.iloc[index]
```
If you want to view a range of index, you can use the same notation as you did for lists, `[start:end+1]`.

In [55]:
#Let's view our dataframe.
df_city_temps

      New York  Los Angeles  Chicago
Jun1        90           98       85
Jun2        94           99       88
Jun3        88           96       89
Jun4        89           92       78
Jun5        96           90       90
Jun6        95           97       91

In [61]:
#Let's view the row from Jun3.
df_city_temps.iloc[2]

New York       88
Los Angeles    96
Chicago        89
Name: 2, dtype: int64

In [63]:
#Let's view the data from Jun2 - Jun4.
df_city_temps.iloc[1:4]

   New York  Los Angeles  Chicago
1        94           99       88
2        88           96       89
3        89           92       78

### Viewing a data point.
To view a data point, we combine the syntax for viewing a row and a column.
<br> *Syntax* 
```
dataframe_name['column_name'].iloc[index]
```

In [73]:
#Example 1 - Level 1 
#Let's view the temperature in Los Angeles on June 6th.
df_city_temps['Los Angeles'].iloc[5]

97

In [69]:
#Example 2 - Level 2
#Let's view the temperature in Chicago on June 6th.
df_city_temps['Chicago'].iloc[len(df_city_temps)+1]

91

Knowing June 6th was our last row of data. The index value of the end of any data structure is always `length - 1`.

:::{admonition} ‚ù§Ô∏è‚Äçü©πIndexError
:class: danger
**IndexError** - occurs when the index does not exist or it is incompatible

In [71]:
#Let's fix it!
df_city_temps['Chicago'].iloc[len(df_city_temps)-1]

91

:::{admonition} Important Note
:class: tip
When viewing rows or columns of your `DataFrame`, remember that you are not changing anything about the `DataFrame`, you are simply viewing certain parts of it. The `DataFrame` itself does not change until you use the assignment operator `=` again to assign something new to the variable name.
:::
Althought we viewed different parts of df_city_temps, check below and see what the variable actually looks like.

In [64]:
df_city_temps

   New York  Los Angeles  Chicago
0        90           98       85
1        94           99       88
2        88           96       89
3        89           92       78
4        96           90       90
5        95           97       91

It is still the same!

## üõë **FILEPATH ACTIVITY** üõë

## Let's use some real data‚ùóÔ∏è‚ùóÔ∏è‚ùóÔ∏è

To work with the `pandas` library we'll use some real data.

First let's open up the file.  We aren't going to dive into this too much so right now just notice that the function I used is `pd.read_csv()` ([more info on .read_csv()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)).

In [33]:
# Let's read in the data.
import pandas as pd
df_soil = pd.read_csv('./Soil_Microbial_Biomass_C_N_P_vertical.csv')

Go to shared-public --> DATA to find this file!
<br> --> copy and paste it into the same folder as this notebook you are working in.

In [34]:
# Check it out üëÄ
df_soil

,Country,Biome,Latitude,Longitude,Elevation,Vegetation,MAT,MAP,Soil_microbial_biomass_carbon,Soil_microbial_biomass_nitrogen,...,Total_organic_phosphorus,pH,Date,Upper_depth,Lower_depth,Depth,Note,Method,Geographical_coordinate,Reference_number
0,Character,Character,decimal degrees,decimal degrees,Character,Character,degrees C,mm,mmol Kg-1,mmol Kg-1,...,mmol Kg-1,pH units,Character,cm,cm,Character,Character,Character,Character,Integer
1,Germany,cropland,NaN,NaN,NaN,Oil-seed rape,NaN,NaN,13.16666667,NaN,...,NaN,5.3,NaN,0-10,0,10,NaN,FE,NaN,91
2,Germany,cropland,NaN,NaN,NaN,Oil-seed rape,NaN,NaN,14.83333333,NaN,...,NaN,5.4,NaN,10-20,10,20,NaN,FE,NaN,91
3,Germany,cropland,NaN,NaN,NaN,Oil-seed rape,NaN,NaN,14.41666667,NaN,...,NaN,5.4,NaN,20-30,20,30,NaN,FE,NaN,91
4,Germany,cropland,NaN,NaN,NaN,Oil-seed rape,NaN,NaN,5.083333333,NaN,...,NaN,5.7,NaN,30-40,30,40,NaN,FE,NaN,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Israel,Desert,31.07,34.7,610,control,18,90,1.666666667,NaN,...,NaN,NaN,2010,0~10,0,10,dry season,FI,NaN,181
172,Israel,Desert,31.07,34.7,610,control,18,90,5.833333333,NaN,...,NaN,NaN,2010,10~20,10,20,dry season,FI,NaN,181
173,Israel,Desert,31.07,34.7,610,control,18,90,9.166666667,NaN,...,NaN,NaN,2010,20~30,20,30,dry season,FI,NaN,181
174,Israel,Desert,31.07,34.7,610,control,18,90,3.333333333,NaN,...,NaN,NaN,2010,30~40,30,40,dry season,FI,NaN,181
175,Israel,Desert,31.07,34.7,610,control,18,90,3,NaN,...,NaN,NaN,2010,40~50,40,50,dry season,FI,NaN,181

**Option 2**: This piece of code below also works and is more specialized to tab-seperated sheets.  I chose to use the more generalized `read_csv` function above.

```
df_soil = pd.read_table('./Soil_Microbial_Biomass_C_N_P_vertical.csv')
```

### Filepaths

Your computer is organized **hierarchically**. Your home directory is king.

Every file has a **filepath**.

:::{admonition} Coding Vocabulary
:class: warning
**Filepath** - A string that describes the location of a file on a computer. Filepath can be either relative, with respect to a particular file, or absolute, with respect to the highest file in the file structure.
:::

Looking at our data loading statement, let's notice a few things:
* `.` - the period at the beginning tells the computer to start looking for data in the same place that the code is being run in.
* `/` - forward slashes signal that you have entered a new folder. (Windows machines natively use a back slash `\`, but the Anaconda powershell can handle either)
* `.csv` - this is the file extension, which tells us what type of file format the data is stored in an informs us how we open it

Choosing to start your filepath with a `.` is called specificying a **relative filepath**, because you are telling the computer to start looking for the file relative to where the file is being run. If you move this file to another place on your computer and don't move the data with it the import statment won't work anymore. 

The alternative to a relative filepath is an **aboslute filepath**, in which case you start your file path at the very tippy top of your computer's organizational structure (the root directory).

Note: **directory** is the same thing as a folder.

To loop back to our example, we put together our filepath by defining the following directions for our computer:
1. start by specifing the current directory as the starting point: `.`
2. Told the computer to open `/`
3. choose the file named: `'Soil_Microbial_Biomass_C_N_P_vertical.csv'`

üéâ And there we have our file

### Back to our data
This data isn't super meaningful at first glance.  Often (or really always), scientific researchers have to **data clean**, which is a process of analyzing your data and removing uneccessary or invalid points. You will likely spend a chunk of your time on this.  (This is sometimes refered to as the [80/20 rule](https://www.infoworld.com/article/3228245/the-80-20-data-science-dilemma.html) for data science and there is a lot of chatter that goes into trying to reverse it).

In [35]:
# There are a lot of variables here, so let's shorten our dataframe to a few variables
df_soil = df_soil[['Biome', 'Vegetation', 'Soil_microbial_biomass_carbon', 'Depth', 'pH']]
#The cleaner version
df_soil

,Biome,Vegetation,Soil_microbial_biomass_carbon,Depth,pH
0,Character,Character,mmol Kg-1,Character,pH units
1,cropland,Oil-seed rape,13.16666667,10,5.3
2,cropland,Oil-seed rape,14.83333333,20,5.4
3,cropland,Oil-seed rape,14.41666667,30,5.4
4,cropland,Oil-seed rape,5.083333333,40,5.7
...,...,...,...,...,...
171,Desert,control,1.666666667,10,NaN
172,Desert,control,5.833333333,20,NaN
173,Desert,control,9.166666667,30,NaN
174,Desert,control,3.333333333,40,NaN
175,Desert,control,3,50,NaN

:::{admonition} Vocabulary
:class: warning
**Data Cleaning:** The often necessary step of organizing and formatting a data source after it is opened.

### üé™ Accessing larger data

Our example dataframes from the previous section were small enough that we could always see the whole thing just by printing it.  That won't usually be the case with real data. 

When the data is long there are other ways besides reading through it all to help you get a sense of the data.  One way is to get some overview statistics with the `.info()` or the `.describe()` methods.

`.info()` returns:
- data type and number of indexes
- index values
- columns with number of non-null values and data type
- how much memory the object uses

In [36]:
df_soil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Biome                          176 non-null    object
 1   Vegetation                     176 non-null    object
 2   Soil_microbial_biomass_carbon  176 non-null    object
 3   Depth                          176 non-null    object
 4   pH                             90 non-null     object
dtypes: object(5)
memory usage: 7.0+ KB

for each column `.describe()` returns:
* "count" - number of non-null values
* "unique" - number of different values
* "top" - most common value
* "freq" - how often the most common value occurs

In [37]:
df_soil.describe()

,Biome,Vegetation,Soil_microbial_biomass_carbon,Depth,pH
count,176,176,176,176,90
unique,8,21,111,21,58
top,Desert,Carex pachystylis and Nuerad procumbens,2.5,20,7.4
freq,90,40,11,31,7

:::{admonition} üåÄ More Info: Viewing more rows
:class: note, dropdown

By default Jupyter will shorten the data and tell you that it has done that by putting the row of `...` in the middle. If you would like to change the default to show more rows or columns you can do that with:

```
# Here 20 is the number of rows you would like to display
pd.set_option('display.max_rows', 20)
```

:::

## Aggregations

Another way to get a sense of your data is to run a few aggregations on the data, such as taking the max or min of specific columns. You also might need to do this as a part of your research.

In [38]:
df_soil

,Biome,Vegetation,Soil_microbial_biomass_carbon,Depth,pH
0,Character,Character,mmol Kg-1,Character,pH units
1,cropland,Oil-seed rape,13.16666667,10,5.3
2,cropland,Oil-seed rape,14.83333333,20,5.4
3,cropland,Oil-seed rape,14.41666667,30,5.4
4,cropland,Oil-seed rape,5.083333333,40,5.7
...,...,...,...,...,...
171,Desert,control,1.666666667,10,NaN
172,Desert,control,5.833333333,20,NaN
173,Desert,control,9.166666667,30,NaN
174,Desert,control,3.333333333,40,NaN
175,Desert,control,3,50,NaN

In [39]:
#df_soil.max()

That is a long error, but what it is telling us is that we have strings in our columns that are otherwise full of numbers, or floats. To find the max values we will need to first drop the nan values with `.dropna()`.

In [40]:
df_soil.dropna()

,Biome,Vegetation,Soil_microbial_biomass_carbon,Depth,pH
0,Character,Character,mmol Kg-1,Character,pH units
1,cropland,Oil-seed rape,13.16666667,10,5.3
2,cropland,Oil-seed rape,14.83333333,20,5.4
3,cropland,Oil-seed rape,14.41666667,30,5.4
4,cropland,Oil-seed rape,5.083333333,40,5.7
...,...,...,...,...,...
101,Desert,"scattered shrubs (Cornulaca monacantha, Anabas...",1.916666667,10,7.09
102,Desert,"scattered shrubs (Cornulaca monacantha, Anabas...",0.583333333,20,7.02
103,Desert,"scattered shrubs (Cornulaca monacantha, Anabas...",0.375,30,7.24
104,Desert,"scattered shrubs (Cornulaca monacantha, Anabas...",0.291666667,40,7.18
105,Desert,"scattered shrubs (Cornulaca monacantha, Anabas...",0.375,50,7.16

In [1]:
#This looks nicer, let's save it.
df_soil_nan = data_soil.dropna()
#Now let's find the max.
df_soil_nan.max()

NameError: name 'data_soil' is not defined

## WOAH, that was a lot.
I'm going to let you all work on the practice problems on the website together now. I will be walking around to ask questions!

# üèÅ Wrap-up: Think, Pair, Share!
## Think!
Take 3 minutes and review on your own what you learned, and write a summary. This can be in paragraph style, bullet points, drawings, whatever makes sense to you. Feel free to create a cell below (either a Markdown or a Code cell) and play around!
## Pair!
Take 4 minutes and discuss at your tables what you all learned today.
## Share!
:::{admonition} Riley's Version
:class: note, dropdown
1. We import in libraries to give us more functions and things to do with code.
2. Pandas is a library that works with 2-dimensional dataframes.
3. Tabular data is 2-dimensional.
4. We use pandas to create dataframes and series to help structure our data.
5. Indexing is similar throughout all of Python's data structures.
6. There are absolute and relative file paths for every file that exists on any computer anywhere.
7. Filepath gives the location of the file in your computer.
8. We can open data into Python and clean up the data.
9. We can learn more about our data structures through methods such as `.info()` and `.describe()`, and can always ask the computer for `help()`.

### üéäYAYYYY - third coding lesson is complete!
Enjoy your day off tomorrow! <br>
<br> üá©üá™Prost und Guten Tag!
<br> üá™üá∏¬°Saludos y Buen D√≠a!
<br> üáµüáπFelicidades e bom dia!
<br> üá¨üáßCheers and Good Day!