# **PRACTICE - Pandas Filtering and Groupby**

## Part 1

Run the following cells to import and clean the [USGS data](https://raw.githubusercontent.com/NASA-SARP/sarp_lessons/main/lessons/tabular_data/data/englewood_3_12_21_usgs_water.tsv) for the practice problems in part 1.

In [ ]:
import random
import pandas as pd

In [ ]:
# Read in the data
df_water_vars = pd.read_csv('./englewood_3_12_21_usgs_water.tsv', sep='\t', skiprows=30)
# There are a lot of variables here, so let's shorten our dataframe to a few variables
df_water_vars = df_water_vars[['datetime', '210920_00060', '210922_00010', '210924_00300', '210925_00400']]
# Get rid of the first row of hard-coded datatype info
df_water_vars = df_water_vars.drop(0)
# Rename the columns from their USGS codes to more human-readible names
l_name_codes = {'210920_00060': 'discharge','210922_00010': 'temperature', '210924_00300': 'dissolved oxygen', '210925_00400': 'pH'}
df_water_vars = df_water_vars.rename(columns=l_name_codes)
# Convert columns with numbers to a numeric type
df_water_vars['discharge'] = pd.to_numeric(df_water_vars['discharge'])
df_water_vars['temperature'] = pd.to_numeric(df_water_vars['temperature'])
df_water_vars['dissolved oxygen'] = pd.to_numeric(df_water_vars['dissolved oxygen'])
df_water_vars['pH'] = pd.to_numeric(df_water_vars['pH'])

df_water_vars['dam release'] = [random.choice([True, False]) for x in range(len(df_water_vars))]
df_water_vars['safety level'] = [random.choice(['low', 'medium', 'high']) for x in range(len(df_water_vars))]
df_water_vars

### Filtering

1. Look at the output of `df_water_vars['safety level'] == 'high'`.  What is the output telling us?  Was the safety level high during the observation at index 3?

In [ ]:
df_water_vars['safety level'] == 'high'

2. Create a dataframe showing which obersvations in `df_water_vars` recorded temperature less than 8.

3. Create a dataframe showing which obersvations in `df_water_vars` recorded either dissolved oxygen less than or equal to 8 or pH greater than 8.

4. Create a dataframe showing which obersvations in `df_water_vars` recorded discharge between 46 and 49.

### Named Indexes

The following bits of code add a new column to the dataframe made up of random letters and assigns them to a new column called `'sample id'`.  Run them before doing the next problems.

In [ ]:
import string

In [ ]:
l_letter_ids = [''.join(random.choice(string.ascii_lowercase) for i in range(5)) for x in range(146)]

In [ ]:
df_water_vars['sample id'] = l_letter_ids
df_water_vars

5. Use the new `'sample id'` column and set it as the index in the `water_vars` dataframe.

6. Pick a sample id and get the data for just that row.

7. We have mostly been looking at boolean comparisons with numbers, but you can also interrogate strings with special methods and get a list of booleans as a result.  Consider the following bit of code:

In [ ]:
df_water_vars.index.str.contains('k')

This code is telling us True/False for which indexes contain the letter k in them.

Using what you know about pandas filtering, use `df_water_vars.loc[]` and the code above (`df_water_vars.index.str.contains('k')`) to filter the data frame to only return the rows which have an index containing the letter k.

### Groupby

8. Fill in the three groupby questions for the following scenario:

**Given the environmental sustainbility index (ESI) for every country, what is the minimum ESI on each continent?**

* _Which variable to group together?_
* _How do we want to group?_
* _What variable do we want to look at?_

9. Fill in the three groupby questions for the following scenario:

**Given the graduation rates of many high school, what is the average graduation rate in public vs. private schools?**

* _Which variable to group together?_ 
* _How do we want to group?_
* _What variable do we want to look at?_

10. Find the mean values of all of the columns at each safety level

11. Find the mean values of all of the columns at each discharge (less meaningful, but just for practice)

12. Find the number of non-nan observations for each column at each safety level

13. Display the mean values of just the temperature column at each safety level

## Part 2

For the next set of practice problems, we are going to use the WAS 2020 SARP data.

I placed this data in shared-public>DATA. Write the relative file path to open it!

In [ ]:
import pandas as pd
was_2020_filepath = "ENTER FILE PATH"
df_was_2020 = pd.read_excel(was_2020_filepath, "INPUT", skipfooter=7)
df_was_2020

### Question 1

**A)** Using `df_was_2020` find data samples where `'CO2 (ppmv)'` was greater than 420.

**B)** How many data samples had CO2 over 420?

### Question 2

**A)** What is the mean value of `'Isoprene (E/B)'` accross all the samples?

**B)** How many data samples had values of `'Isoprene (E/B)'` below 10?

**C)** Print out the values of isoprene from the previous part of the question which are less than 10.  Do you notice anything unusual about the values?

**D)** Looking at the values in the previous question you might see that several values are marked with -888.  This is likely a nodata value (but its always good to check the data documentation to be sure).

Knowing that there are now nodata values, go back and amend your code to find the rows where isoprene is less than 10 but also not equal to -888.  Now how many rows are there?

**E)** What is the true mean value of isoprene?

_This question was brought to you today as a gentle reminder to always be on the lookout for nodata ðŸ™‚_

### Question 3

There are a lot of data columns in this dataset, many more than we can reasonably view in the preview.  To help us explore our data better we might want to view a smaller subset of the data at once.

**A)** Create a dataframe that includes only the following columns from the `df_was_2020` dataset: `'Can #'`, `'State'`, `'Date'`, `'CO (ppbv)'`, and `'OCS (MS)'`.

**B)** Let's say you would like to view all of the columns of CFCs together.  There are several columns that all start with `CFC-`: 'CFC-12 (C/D)', 'CFC-11 (D/MS)', 'CFC-113 (D)', 'CFC-114 (MS)'.

Create a dataframe that includes just the columns whose names start with "CFC-".

**Google help:** - Try googling "pandas filter by column name string".  [This stackoverflow](https://stackoverflow.com/questions/21285380/find-column-whose-name-contains-a-specific-string) also has several options. I was only able to solve this using a `.filter()` method. Check out [this link](#https://www.statology.org/pandas-select-columns-containing-string/).

**C)** Use the subset of data you created in part B and return just the columns of CFCs and only the rows of samples that were taken in Arizona.

### Question 4

`groupby` questions

**A)** What are the mean values of `'CO (ppbv)'` from each box?

**B)** What is the minimum value of `'CH4 (ppmv height)'` for each `Weather` condition?

**C)** How many samples were taken in each state?

### Question 5

`.groupby` also allows you to group on multiple fields.  So instead of saying "what is the mean value of CO in each state?", we can be more specific, and ask, "What is the mean value of CO in each state at every wind speed?"

We do this by using a `list` of values in the `.groupby()` argument instead of just a single column string.

`.groupby(["Box", "Wind Spd (mph)"])`

**A)** Try using this syntax to find the mean value of CO in each state at every wind speed

**B)** What was the mean value of CO in Georgia when the wind speed was 8 mph?

### Question 6

The current `.groupby` function allows to use a single aggregation function at once -- we can see either the means for every columns, or the max of every column, and so on.

To look use different aggregation functions for different columns we drop the aggregation function and instead use `.agg()`.

Here is an example using the water dataset:

In [ ]:
df_water_vars.groupby("dam release").agg(
    max_discharge=pd.NamedAgg(column='discharge', aggfunc='max'), 
    mean_doxy=pd.NamedAgg(column="dissolved oxygen", aggfunc='mean')
)

**A.** Use the `.agg()` function to find the maximum values of `'CH4 (ppmv height)'`, the mean values of `'4-Ethyltoluene (MS)'`, and the total number of samples `'Can #'` for each state.

WOOHOO -- If you made it this far, give yourself (and whoever you were working with) a HIGH-FIVE BRO!

Go checkout [geopandas](https://nasa-sarp.github.io/sarp_lessons/lessons/tabular_data/3_geopandas.html) on the SARP website and play around!